p{
 font-size: 1.1rem;
 font-weight: 400px;
 line-height: 2.17px;
 text-align: center;
color: var(--Pāua);
margin-top: 8px;
}
.mahsolat{
    width:100%;
    height: 151px;
    background-color: blue;
    .mahsol{
        display: flex;
        
        & a{
            display: flex;
            text-decoration: none;
            font-family:myfont;
        }
    }

    .itm{
        width: 52px;
        height: 52px;
        background-color: brown;
        border-radius: 50%;
        inset: 0;
        margin: auto; 
        padding: 25px;
        align-items: flex-start;
    
}
}
.section1{
    width: 100%;
    padding: 0 10px;
    .secttion{
        height: 294px;
        background-color: tomato;
    }
}
