p{
 font-size: 1.1rem;
 font-weight: 400px;
 line-height: 2.17px;
 text-align: center;
color: var(--Pāua);
margin-top: 8px;
}
.mahsolat{
    width:100%;
    height: 151px;
    
    .mahsol{
        display: flex;
        
        & a{
            display: flex;
            text-decoration: none;
            font-family:myfont;
        }
    }

    .itm{
        width: 52px;
        height: 52px;
        background-color: brown;
        border-radius: 50%;
        inset: 0;
        margin: auto; 
        padding: 25px;
        align-items: flex-start;
    
}
}
.section1{
    width: 100%;
    padding: 0 10px;
    .secttion{
        height: 294px;
        background-color:#EF3C51;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
}
}
.container1{
    width: 100%;
    height: 220px;
    background-color: violet;
    display: flex;
    padding: 0 16px;
    column-gap: 16px;
    flex-flow: row wrap;
    

    .img-container{
        
       width: 20%;
       height: 187px;
       margin-top: 17px;
       background-color: teal;
       object-fit: cover;
       border-radius: 16px;
       display: flex;
       
       & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        cursor: pointer;
        
       }    
}
}
.container2{
    width: 100%;
    height: 111px;
    background-color: chocolate;
    border-radius: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    padding: 0 40px;
    gap: 32px;
    /* & a{
        display: flex;
        text-decoration: none;
    } */
   
    .right-container{
        width: 464px;
        height: 100%;
        background-color: cornflowerblue;
    }
    .left-container{
        width: 477px;
        height: 100%;
        background-color: tan;
       
        
    }
}
.container3{
    width: 100%;
    height: 220px;
    background-color: violet;
    display: flex;
    padding: 0 16px;
    gap: 16px;
    flex-flow: row wrap;
    

    .img-container{
        
       width: 20%;
       height: 187px;
       margin-top: 17px;
       background-color: teal;
       object-fit: cover;
       border-radius: 16px;
       display: flex;
       
       & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        cursor: pointer;
        
       }     
}
}
.text1{
    width: 17%;
    height:auto;
    background-color: deeppink;
    margin: 47px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    & h3{
    margin: 0;
    color: #000000;
    font-size: 21px;
    white-space:nowrap;
    line-height: 44px;
    }

}
