header{
    width: 100%;
    height: 200px;

   .top{
    height: 60px;
    
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   }
   .middle{
    width: 100%;
    height: 60px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .right{
        width: 62%;
        height:100%;
        
        display: flex;
        flex-flow: row wrap;
        .logo{
            width: 195px;
            height: 100%;
            display: flex;
            align-items: center;
            & img{
                width: 100%;
                height: 30px;
                object-fit: cover;
            }  
        }
        .search{
            width: calc(100% - 195px);
            height: 100%;
            font-family: font;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding:0 16px ;
           & form{
            width: 100%;
            height: 36px;
            background-color:var(--ErrigalWhite) ;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            display: flex;
            flex-flow: row wrap;
            & lable{
                
                padding: 5px;
                cursor: pointer;
            }
            & input{
                width:calc(100% - 24px);
                border: 0;
                background-color: transparent;
                outline: unset;
                padding: 0 16px;
            }
        
}
        }
    }
    .left{
        width: 15%;
        height: 100%;
        
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        .btn{
            width: 65%;
            height: 40px;
            padding:8px 16px;
            border-radius:8px;
            -webkit-border-radius:8px;
            -moz-border-radius:8px;
            -ms-border-radius:8px;
            -o-border-radius:8px;
            border: 1px solid var(--WindChime);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            & a{
                width: 100%;
                height: 100%;
                
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                text-decoration: none;
                color:#0c0c0c;
            }
           
}
        .line{
            width: 1px;
            height: 24px;
            background:var(--WindChime);
            
        }
    }
   }
   .bottom{
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .menu{
        width: 72%;
        height:100%;
       
        & nav{
            width: 100%;
            height: 100%;
          
            .menuItems{
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                .itemss{
                    display: flex;
                    align-items: center;
                    padding: 0px 12px;
                    color: var(--Genie);
                    font-size: 14px;
                    font-weight: bold;
                }
                .items{
                    display: flex;
                    align-items: center;
                    padding: 0px 12px;
                    color: var(--Genie);
                    font-size: 12px;
                    position: relative;

                    .linee{
                      width: 100%;
                      height: 5px;
                      background-color: crimson;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      transform:scale(0) ;
                      transition: 300ms;
                      transform-origin: left;
}
&:hover{
    transform:rotatey(45deg) translateX(200px) scale(1.5);
    .linee{
        transform: scale(1);
     
       
}
}
}

                   .subMenu{
                    width:78%;
                    height: 500px;

                    position: absolute;
                    & ul{
                        width: 20%;
                        height: 100%;
                    }

                    .item{
                        height: 100%;
                        line-height: 40px;
                        cursor: pointer;
                        justify-content: space-around;
                        list-style: none;
                    }
                
                   }
                   .line2{
                    width:1px;
                    height: 16px;
                    background-color: var(--WindChime);
                    display: block;
                   
                }
                    }
                    & a{
                        font-size: 12px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        color: var(--GreyWeb);
                    }

                }
            }
        }
    }
    .city{
        width:13%;
        height: 100%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--Genie);
    }
    /* label{
        width: 150px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: whitesmoke;
        display: inline-block;
        cursor: pointer;
        &:nth-of-type(2){
            background-color: crimson;
        }
    } */
    /* input[type=radio]{
        display: none ;
    }
    .test{
        width: 100%;
        height: 100vh;
        background-color:rgba(0, 0, 0, 0.164);
        position: absolute;
        top: 0;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .child{
            width: 450px;
            height: 250px;
            background-color: orangered;
            left: calc(50% - 450px / 2);
            top: calc(50% - 650px / 2);
            position: absolute;
            border-radius: 20;
            -webkit-border-radius: 20;
            -moz-border-radius: 20;
            -ms-border-radius: 20;
            -o-border-radius: 20;
}
    } */

    

/* .khat{
    width: 100%;
    height: 1px;
    background-color: crimson;
} */
