@import"../css/setting.css";
@import"./footer.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
    
}
header{
    width: 100%;
    height: 200px;

   .top{
    height: 60px;
    
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   }
   .middle{
    width: 100%;
    height: 60px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .right{
        width: 62%;
        height:100%;
        
        display: flex;
        flex-flow: row wrap;
        .logo{
            width: 195px;
            height: 100%;
            display: flex;
            align-items: center;
            & img{
                width: 100%;
                height: 30px;
                object-fit: cover;
            }  
        }
        .search{
            width: calc(100% - 195px);
            height: 100%;
            font-family: font;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding:0 16px ;
           & form{
            width: 100%;
            height: 36px;
            background-color:var(--ErrigalWhite) ;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            display: flex;
            flex-flow: row wrap;
            & lable{
                
                padding: 5px;
                cursor: pointer;
            }
            & input{
                width:calc(100% - 24px);
                border: 0;
                background-color: transparent;
                outline: unset;
                padding: 0 16px;
            }
        
}
        }
    }
    .left{
        width: 15%;
        height: 100%;
        
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        .btn{
            width: 65%;
            height: 40px;
            padding:8px 16px;
            border-radius:8px;
            -webkit-border-radius:8px;
            -moz-border-radius:8px;
            -ms-border-radius:8px;
            -o-border-radius:8px;
            border: 1px solid var(--WindChime);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            & a{
                width: 100%;
                height: 100%;
                
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                text-decoration: none;
                color:#0c0c0c;
            }
           
}
        .line{
            width: 1px;
            height: 24px;
            background:var(--WindChime);
            
        }
    }
   }
   .bottom{
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .menu{
        width: 72%;
        height:100%;
       
        & nav{
            width: 100%;
            height: 100%;
          
            .menuItems{
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 14px;
                .itemss{
                    display: flex;
                    align-items: center;
                    padding: 0px 12px;
                    color: var(--Genie);
                    font-size: 14px;
                    font-weight: bold;
                }
                .items{
                    display: flex;
                    align-items: center;
                    padding: 0px 12px;
                    color: var(--Genie);
                    font-size: 12px;
                    position: relative;

                    .linee{
                      width: 100%;
                      height: 5px;
                      background-color: crimson;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      transform:scale(0) ;
                      transition: 300ms;
                      transform-origin: left;
}
/* &:hover{
    transform:rotatey(45deg) translateX(200px) scale(1.5);
    .linee{
        transform: scale(1);
     
       
}
} */
}

                   .subMenu{
                    width:78%;
                    height: 500px;

                    position: absolute;
                    & ul{
                        width: 20%;
                        height: 100%;
                    }

                    .item{
                        height: 100%;
                        line-height: 40px;
                        cursor: pointer;
                        justify-content: space-around;
                        list-style: none;
                    }
                
                   }
                   .line2{
                    width:1px;
                    height: 16px;
                    background-color: var(--WindChime);
                    display: block;
                   
                }
                    }
                    & a{
                        font-size: 12px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        color: var(--GreyWeb);
                    }

                }
            }
        }
        .city{
            width:13%;
            height: 100%;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Genie);
            .bg{
            width: 100%;
            height: 32px;
            color:#F57F41 ;
            background-color:#FEF6EF;
            border-radius:30px 30px;
            -webkit-border-radius:30px 30px;
            -moz-border-radius:30px 30px;
            -ms-border-radius:30px 30px;
            -o-border-radius:30px 30px;
    }
        }
    }
    .cont1-2{
        width: 100%;
        height: 464px;
        background-color: dodgerblue;
        margin: 0 auto;

        .cont1-2row1{
            width: 100%;
            height: 64px;
            display: flex;
            background-image: linear-gradient(to top, var(#ef4056),var(#ef394e));
            align-items: center;
            justify-content: center;
            position: relative;
            background-color:var( --Brightred);
        }
        
.slider1-2{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        width: 100%;
        height: 400px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 401px;
        object-fit: cover;
      } 
}

    }
.cont2-2{
    width: 100%;
    height: 361px;
    background-color: violet;
    padding: 0 16px;
}

.cont3-2{
    width: 100%;
    height: 206px;
    background-color: darkgreen;
    display: flex;
    padding: 20px 0;
}

.cont4-2{
    width: 100%;
    height: 441px;
    background-color: darkred;
}

.cont5-2{
    width: 100%;
    height: 465px;
    background-color: deeppink;
}

.cont6-2{
    width: 100%;
    height: 110px;
    background-color: turquoise;
}

.cont7-2{
    width: 100%;
    height: 110px;
    background-color: fuchsia;
}