.slider1{
    .swiper {
        width: 100%;
        height: 100%;
        display: flex;
        
      }
      .swiper-slide {
       
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       

        & a{
          width:84px ;
          height: 23px;
          background-color: aqua;
        }
      }
  
      .swiper-slide img {
        display: flex;
        width: 74px;
        height:74px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid white;
        outline: 2px solid var(--LustfulWishes);
        margin-top: 17px;
        margin-bottom: 10px;
}
& p{
  width: 84px;
  height: 24px;
  font-size: 11px;
  color: var( --Pāua);
}
}

.slider2{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        width: 100%;
        height: 400px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 401px;
        object-fit: cover;
      } 
}

.section1 {
  width: 100%;
  height: 294px;
  background-color: lawngreen;
 
}

.section1 .section {
  width: 100%;
  height: 294px;
  background-color: darkgoldenrod;
  display: block;
  border-radius: 16px;
  overflow: hidden;
}

.section1 .section .slider3 {
  width: 100%;
  height: 294px;
  display: flex;
  padding: 20px 0;
  border-radius: 16px;
  flex-wrap: nowrap;
}

.section1 .section .slider3 .swiper {
  width: 100%;
  height: 100%;
}

.section1 .section .slider3 .swiper-wrapper {
  width: 1052px;
  height: 254px;
}

.section1 .section .slider3 .swiper-slide {
  width: 166px;
  height: 254px;
  margin: 0 0 0 2px;
}

.section1 .section .slider3 .swiper-slide a {
  width: 126px;
  height: 254px;
  background-color: turquoise;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px !important;
  gap: 12px;
  margin: 0 20px !important;
}

.section1 .section .slider3 .swiper-slide a .part1-slider3 {
  width: 94px;
  height: 216px;
  background-color: darkorange;
  display: flex;
}

.section1 .section .slider3 .swiper-slide img {
  display: block;
  width: 132px;
  height: 132px;
  object-fit: contain;
  border-radius: 8px;
}

.container6-part2{
 width: 100%;
 height: 118px;

 margin-top: 12px;

.slider4{

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 142px;
    height: 118px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    & a{
      width: 142px;
      height: 118px;
     
      padding: 4px 16px;
      justify-content: center;
      align-items: center;
    }
  }

  .swiper-slide img {
    display: block;
    width: 110px;
    height: 110px;
    object-fit: cover;
  }

}
}
