.slider1{
    .swiper {
        width: 100%;
        height: 100%;
        display: flex;
        
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: flex;
        width: 74px;
        height:74px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid white;
        outline: 2px solid var(--LustfulWishes);
        margin-top: 17px;
        margin-bottom: 10px;
}
}

.slider2{
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 401px;
        object-fit: cover;
      } 
}
.slider3{
  .swiper {
    width: 100%;
    height:100%;
    
   
  }
  .swiper-wrapper{
width: 1052px;
height: 254px;


  }
  .swiper-slide1{
    width: 162px;
    height: 254px;
    background-color:#EF3C51 ;
    display: flex;
  }
  .swiper-slide {
    width: 162px;
    height: 254px;
    margin: 0 0 0 2px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    display: flex;

  }

  .swiper-slide img {
    display:block;
    width:132px;
    height:132px;
    object-fit: contain;
    border-radius: 8px;

}
}
.slider4{
.swiper {
  width: 100%;
  height: 100%;
}
.swiper4{
  width: 132px;
  height: 160px;
  background-color: blue;
  padding: 0 16px;
  padding-left: 16px;
  padding-right: 16px;
  .p-text{
    width: 32px;
    height: 26px;
    background-color: cadetblue;
    margin: 0 0 8px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

}
}